<div>
    <nav>
        <div class="check">
            <h1> TC - Track-Cars</h1>
        </div>
    </nav>
    <!-- There is options under desctiprions -->
    <div class="under-description">
        <a href="#"><span>MyFavorite-list</span></a>
        <a href="#"><span>Fastest car</span></a>
        <a href="#"><span>Expensive</span></a>
    </div>
    <!-- There is short description of app -->
    <div class="description">
        <div id="header">
            <h2> Exotic Cars</h2>
        </div>
        <div id="gif">
            <img src="assets/bmw.gif" alt="">
        </div>
    </div>
</div>